{% extends "base.html" %}
{% load static %}
{% block content %}







 <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
          <div class="card mb-4 box-shadow">
    <h1 style="text-align: center"><u>About us</u></h1>

   <br>

    <p style="text-align: center">Laurence blog gives you detailed and latest news all over the world our blog is cartegoriesd into various
        various topics which you can choose and explore into</p>
  
    <br>
</div>
</div>
{% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
</div>
</div>
</div> 
{%endblock%}